@charset  "UTF-8";

html,body {color: #ffffff;}

body{font-family: Arial,san-serif; font-size: 12px; background-color: #494949;}

body,div,h1,h2,h3,p,img,header,section,aside,footer,button{margin: 0; padding: 0; border: 0;}

ul,ol,li{list-style: none;}	
	
a {text-decoration: none; color: #E1DF54;}

a:hover {color: #6f92a7;}

.logo{height:0.1em!important; width:0.1em!important; }

header{
	-moz-box-shadow: inset 0 -2px 3px #480508;
	-khtml-box-shadow: inset 0 -2px 3px #480508;
	-webkit-box-shadow: inset 0 -2px 3px #480508;
	box-shadow: inset 0 -2px 3px #480508;
	border-bottom: 1px solid #fffffb;
	display: block;
	width:100%;  
	min-width:890px; 
	text-align: center; 
	padding-bottom: 5px;
	overflow: hidden; 
}