@charset "UTF-8";

/* CSS Document */
/*  Reset for some default browser CSS - General */
html,
body {
    color: #FFF;
}

body {
    font-family: Arial, san-serif;
    font-size: 12px;
    background-color: #494949;
}

body,
div,
h1,
h2,
h3,
p,
img,
header,
section,
aside,
footer,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E1DF54;
}

a:hover {
    color: #6f92a7;
}

h1,
h2,
h3 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    line-height: 28px;
}

#ganesh {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
    border: 5px solid #2B2B2B;
    border-bottom: 8px solid #2B2B2B;
    width: 190px;
    height: 160px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#ganeshcap {
    margin-top: -50px;
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
}

/*Site Heading Start*/
#header {
    background: url(images/bck_head.png);
    -moz-box-shadow: inset 0 -2px 3px #480508;
    -khtml-box-shadow: inset 0 -2px 3px #480508;
    -webkit-box-shadow: inset 0 -2px 3px #480508;
    box-shadow: inset 0 -2px 3px #480508;
    border-bottom: 1px solid #fffffb;
    display: block;
    width: 100%;
    min-width: 890px;
    text-align: center;
    padding-bottom: 5px;
    overflow: hidden;
}

#heading {
    text-shadow: 3px 3px 3px #2c0306;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
    position: relative;
    text-align: center;
}


/*Site Heading End*/
/*Body & Nav Start*/
#mainbody {
    width: 810px;
    margin: 10px auto;
    margin-bottom: 30px;
}

#mainbody section {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 100%;
}

/*Left Side Start*/
#leftbar {
    width: 25%;
    height: auto;
    float: left;
    margin-top: 0;
}

#leftcontainer {
    width: 99.6%;
    height: auto;
    background: #2B2B2B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#leftbottomcontainer {
    width: 99.6%;
    height: 60px;
    background: #2B2B2B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#google_translate_element {
    margin-left: 25px;
}

#grptrans p {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 2px;
    padding-top: 5px;
}

#sitelock {
    margin-left: 50px;
}

#indigo {
    margin-left: -36px;
}

#indigo li {
    font: 200 13px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 0 solid #ccc;
    font-weight: 700;
    padding-bottom: 5px;
}

#indigo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#indigo:last-child {
    border: none;
}

#indigo li a {
    color: #000;
    display: block;
    width: 160px;
    -webkit-transition: font-size .3s ease, background-color .3s ease;
    -moz-transition: font-size .3s ease, background-color .3s ease;
    -o-transition: font-size .3s ease, background-color .3s ease;
    -ms-transition: font-size .3s ease, background-color .3s ease;
    transition: font-size .3s ease, background-color .3s ease;
}

#indigo li a:hover {
    font-size: 13px;
    background: #4f1d1e;
    color: #f6f6ee;
}

.button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-link:hover {
    background: #4f1d1e;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.button-link2 {
    padding: 4px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-link2:hover {
    background: #4f1d1e;
    border: solid 1px #2A4E77;
    text-decoration: none;
    color: #FFF;
}

.button-link2:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

a.button-link b {
    font-size: 75%;
    font-weight: 400;
}

a.button-link strong {
    font-size: 75%;
    font-weight: 400;
}

/*Left Side End-*/
/*Right Side Start*/
#rightbar {
    width: 72%;
    margin-right: 5px;
    margin-left: 5px;
}

/*Page Heading Start*/
#topbar {
    width: 103.5%;
    margin: auto;
    text-align: center;
    background: #2B2B2B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#pagetitle {
    text-shadow: 3px 3px 3px #2c0306;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
    position: relative;
    text-align: center;
}

/*Page Heading End*/
#rightcontent {
    width: 103.5%;
    margin: 10px auto;
    text-align: center;
    background: #2B2B2B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#rightcontent2 {
    width: 102%;
    margin: 10px auto;
    padding: 10px 0 10px 10px;
    text-align: left;
    background: #2B2B2B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


#parkingsubcontainer {
    display: block;
    width: 600px;
    text-align: left;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 65px;
}

#listtitle1 {
    text-shadow: 1px 1px 1px #000;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    position: relative;
}

#listtitle2 li:first-of-type {
    text-shadow: 1px 1px 1px #000;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    position: relative;
}

#listtitleactransit {
    text-shadow: 1px 1px 1px #000;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    position: relative;
}

#listtitlebart {
    text-shadow: 1px 1px 1px #000;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    position: relative;
}

#oldtext:hover {
    width: 100%;
}

#oldtext:hover #newtext {
    display: block;
}

#newtext {
    display: none;
}


/*Right Side End   */
/*Body & Nav End-*/
/*Footer Start*/
#footer {
    -moz-box-shadow: inset 0 -2px 3px #480508;
    -khtml-box-shadow: inset 0 -2px 3px #480508;
    -webkit-box-shadow: inset 0 -2px 3px #480508;
    box-shadow: inset 0 -2px 3px #480508;
    padding-top: 2px;
    border-top: 1px solid #fffffb;
    border-bottom: 1px solid #c9c9c0;
    background: url(images/bck_footer.png);
    width: 100%;
    min-width: 890px;
    margin: auto;
    display: block;
    text-align: center;
    overflow: hidden;
}

#footer p {
    text-align: center;
    color: #b6b6ab;
}

/*Footer*/