@charset "UTF-8";

/* CSS Document */
/*  Reset for some default browser CSS - General */
html,body {
    color: #FFF;
    font-size: 62.5%;
}

body{    
	font-family: Arial,san-serif;
    background-color: #494949;
    max-width: 100%;
    margin: 0, auto;
    box-sizing: border-box;
}

body,div,h1,h2,h3,p,img,header,section,aside,footer,button {
    margin: 0;
    padding: 0;
    border: 0;    
}

ul,ol,li{
    list-style: none;
}	
	
a {
    text-decoration: none;
    color: #E1DF54;
}

a:hover {
    color: #6f92a7;
}

h1,h2,h3 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-weight: 400;
}

h2 {
    font-size: 2rem;;
    line-height: 3rem;
}	

/*Body*/
#mainbody {
    display: flex;
    align-items: flex-start;
    width:100%; 
    padding-bottom: 1rem;
    box-shadow: inset 0 -2px 3px #480508;
	border-bottom: 1px solid #fffffb;
}

@media (max-width:900px) {
    #mainbody {
        flex-direction: column;
    }
}

#mainbody section{
    border-radius: 5px; 
	display: inline-block; 
	height: auto;
}

/*Left Side Start*/
#leftbar {
    width:25%;
    height: 100%;        
    position: sticky;
    top: 0;
        
}

#leftcontainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    background: #2B2B2B;
    border-radius: 5px;      
}
        
#leftcontainer a img {
    width: 90%; 
    height: auto; 
    border: 0.5rem solid #2B2B2B; 
    border-bottom: 0.8rem solid #2B2B2B; 
    margin-left: 2%; 
    margin-top: 2%;
    margin-bottom: 2.5rem;
}

@media (max-width: 900px){
    #leftbar {
        position: relative;
        width: 100%;
    }

    #leftcontainer {
        height: 100%;
        flex-direction: row;
    }

    #leftcontainer a {
        width: 11%;
        margin-left: 50px;
    }

    #leftcontainer a img {
        padding: 0;
        margin: 0;
        
    }
}

@media (max-width:640px) {    
    #leftcontainer a {
        margin: 0;
        width: 0;
    }
    
    #leftcontainer a img {
        display: none;
    }
}

#google_translate_element {margin-left:10px;}	

#indigo {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 2%;
    margin-right: 2%; 
    font: 200 1.6rem/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 0 solid #ccc;
    font-weight: 700;
    padding-bottom: 13px;    
}

#indigo a {
    color: #000;
    width: 95%;    
    padding: 20px 0;
    margin-bottom: 27px;
    text-align: center;
    background: #4479BA;    
    border-radius: 4px;
    border: solid 1px #20538D;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.2);    
    user-select: none;
    transition: font-size .3s ease, background-color .3s ease;
}

@media (max-width: 900px) {
    #indigo {
        flex-direction: row;
        width: 87%;
        margin: 0;
        padding: 0 10px;
        justify-content: flex-end;
    }

    #indigo a {
        flex-basis: 23%;
        margin: 0rem;
    }
}

@media (max-width: 640px) {
    #indigo {
        flex-direction: column;
        width: 100%;
    }

    #indigo a {
        width: 100%;
    }
}

#indigo .active {    
    background-color: black;
    color: #4479BA !important;
    border: solid 1px #203E5F;
}

#indigo a:hover {
    font-size: 1.6rem;
    background: #4f1d1e;
    color: #f6f6ee;
}
/*Left Side End-*/

/*Site Heading Start*/
#header{
    background:  #2B2B2B;
    box-shadow: inset 0 -2px 3px #480508;
    border-bottom: 1px solid #fffffb;
    display: block;
    width:100%; 
    text-align: center;        
    padding-top: 1rem;
    padding-bottom: 2.8rem; 
}

@media (max-width: 640px) {
#header {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
}

#header p{
font-size: 2.5rem;
padding-top: 2rem;
}

@media (max-width: 1160px) {
#header p {
    font-size: 2.2rem;
    padding-top: 2.8rem;
}
}

@media (max-width: 1000px) {
#header p {
    padding-top: 3.2rem;
}
}

@media (max-width: 640px) {
#header p {
    font-size: 2rem;
}
}

#heading{	
text-shadow: 3px 3px 3px #2c0306;
text-transform: capitalize;
font-size: 3.5rem;
font-weight: 400;
color: #FFF;
position: relative;
text-align: center;
}

@media (max-width: 1160px) {
#heading {
    font-size: 3rem;
}
}

@media (max-width: 1000px) {
#heading {
    font-size: 2.5rem;
}
}

@media (max-width: 640px) {
#heading {
    font-size: 2rem;
}
}

#subheading2 {
color:red;
font-weight:bold;
font-size:2rem;
}

@media (max-width: 1160px) {
#subheading2 {
    font-size: 2rem;
}
}

@media (max-width: 710px) {
#subheading2 {
    font-size: 1.8rem;
}
}
/*Site Heading End*/

/*Right Side Start*/
#rightbar {
    width:75%;
    height: auto;
}

@media (max-width: 900px) {
    #rightbar {
        width: 100%;
    }
}

#rightcontent {    
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0rem auto;    
}

#parking {
    width: 100%;
    background: #2B2B2B;
    border-radius: 5px;
    padding-top: 5rem;
}

#pagetitle1 {
    text-shadow: 3px 3px 3px #2c0306;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;    
    padding-bottom: 3rem;
}

#parkingsubcontainer {
    width: 100%;
    padding-bottom: 5rem;
}

#parkingsubcontainer form {
    text-align: center;
}

#listtitle1 {
    font-size: 2rem;
    padding-top: 2rem;
}

#listtitle2 {    
    font-size: 1.6rem;
    padding-left: 25%;
    height: 500px;
}

@media (max-width: 640px) {
    #listtitle2 {
        padding-left: 10%;
        padding-right: 5%;
    }
}

#parkingTitle {
    text-shadow: 1px 1px 1px #000;
    text-transform: capitalize;
    font-size: 2rem;;
    font-weight: 400;
    color: #FFF;
    padding-top: 2rem;
}

#publicTransit {    
    font-size: 1.6rem;
    color: #FFF;
    margin-top: 0.5rem;
    background: #2B2B2B;
    border-radius: 5px;
    padding-bottom: 5rem;
}

#topBar { 
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
}

#pagetitle2 {
    text-shadow: 3px 3px 3px #2c0306;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 400;
    color: #FFF;
}

#transitOptions {
    display: flex;
    width: 100%;
}

@media (max-width: 640px) {
    #transitOptions {
        flex-direction: column;
        width: 90%;
        text-align: center;
        padding-left: 2%;
    }
}

#publicTransit h3 {
    text-shadow: 1px 1px 1px #000;
    text-transform: capitalize;
    text-decoration: underline;   
    font-weight: 400;
}

#acTransit {
    width: 40%;
    padding-left: 10%; 
}

@media (max-width: 640px) {
    #acTransit {
        width: 100%;
        padding: 0;
    }
}

#bart {
    width: 40%;
    padding-left: 5%;
}

@media (max-width: 640px) {
    #bart {
        width: 100%;
        padding: 0;
    }
}
/*Right Side End   */


#bottomContainer {
    display: flex;
    margin: 5rem 0rem;
    padding-bottom: 5rem;
    box-shadow: inset 0 -2px 3px #480508;
	border-bottom: 1px solid #fffffb;
}

#siteLockCont {
    width: 20%;
}

#bottomSection {
    display: flex;
    width: 80%;
    justify-content: space-around;
    font-size: 2rem;
}

@media (max-width: 640px) {
    #bottomContainer {
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }

    #bottomSection {
        flex-direction: column;
        width: 90%;
        font-size: 2.5rem;
        padding-left: 10%;
    }

    #links {
        padding-bottom: 5rem;
        font-size: 2rem;
    }

    #Connect {
        padding-bottom: 5rem;
        font-size: 2rem;
    }

    #sitelock {
        padding-left: 50%;
    }
}

.fa-facebook {
    color: white;
    background-color: royalblue;
    padding: 1rem 1.4rem;
    margin: 1rem;
    margin-left: 0rem;
    border-radius: 0.5rem;
}

.fa-yelp {
    color: white;
    background-color: orangered;
    padding: 1rem 1.2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

#bottomFooter {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#footerButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}

@media (max-width: 640px) {
    #bottomFooter {
        margin-top: 0;
    }

    #footerButtons {
        font-size: 2rem;  
    }

    #footerButtons a {
        line-height: 4rem;
        flex-basis: 280px;
    }

}