@charset "UTF-8";

/* CSS Document */
/*  Reset for some default browser CSS - General */
html,body {
	color: #FFF;
	font-size: 62.5%;
}

body {
	font-family: Arial, san-serif;	
	background-color: #494949;
	max-width: 100%;
    margin: 0, auto;
    box-sizing: border-box;
}

body,div,h1,h2,h3,p,img,header,section,aside,footer,button {
	margin: 0;
	padding: 0;
	border: 0;
}

ul,ol,li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #E1DF54;
}

a:hover {
	color: #6f92a7;
}

h1,h2,h3 {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: 400;
}

h2 {
	font-size: 18px;
	line-height: 28px;
}

/*Body*/
#mainbody {
    display: flex;
    align-items: flex-start;
    width:100%; 
    padding-bottom: 1rem;
    box-shadow: inset 0 -2px 3px #480508;
	border-bottom: 1px solid #fffffb;
}

@media (max-width:900px) {
    #mainbody {
        flex-direction: column;
    }
}

#mainbody section{
    border-radius: 5px; 
	display: inline-block; 
	height: auto;
}

/*Left Side Start*/
#leftbar {
    width:25%;
    height: 100%;        
    position: sticky;
    top: 0;
        
}

#leftcontainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    background: #2B2B2B;
    border-radius: 5px;      
}
        
#leftcontainer a img {
    width: 90%; 
    height: auto; 
    border: 0.5rem solid #2B2B2B; 
    border-bottom: 0.8rem solid #2B2B2B; 
    margin-left: 2%; 
    margin-top: 2%;
    margin-bottom: 2.5rem;
}

@media (max-width: 900px){
    #leftbar {
        position: relative;
        width: 100%;
    }

    #leftcontainer {
        height: 100%;
        flex-direction: row;
    }

    #leftcontainer a {
        width: 11%;
        margin-left: 5rem;
    }

    #leftcontainer a img {
        padding: 0;
        margin: 0;
        
    }
}

@media (max-width:640px) {    
    #leftcontainer a {
        margin: 0;
        width: 0;
    }
    
    #leftcontainer a img {
        display: none;
    }
}

#google_translate_element {margin-left:10px;}	

#indigo {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 2%;
    margin-right: 2%;   
    padding-bottom: 2rem;
    font: 200 1.6rem/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 0 solid #ccc;
    font-weight: 700;
    padding-bottom: 1.3rem;    
}

#indigo a {
    color: #000;
    width: 95%;    
    padding: 2rem 0rem;
    margin-bottom: 2.7rem;
    text-align: center;
    background: #4479BA;    
    border-radius: 0.4rem;
    border: solid 1px #20538D;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.2);    
    user-select: none;
    transition: font-size .3s ease, background-color .3s ease;
}

@media (max-width: 900px) {
    #indigo {
        flex-direction: row;
        width: 87%;
        margin: 0rem;
        padding: 0rem 1rem;
        justify-content: flex-end;
    }

    #indigo a {
        flex-basis: 23%;
        margin: 0rem;
    }
}

@media (max-width: 640px) {
    #indigo {
        flex-direction: column;
        width: 100%;
    }

    #indigo a {
        width: 100%;
    }
}

#indigo .active {    
    background-color: black;
    color: #4479BA !important;
    border: solid 1px #203E5F;
}

#indigo a:hover {
    font-size: 1.6rem;
    background: #4f1d1e;
    color: #f6f6ee;
}
/*Left Side End-*/

/*Right Side Start*/
/*Heading Start*/
#header{
    background: url(../images/bck_head.png);
    box-shadow: inset 0 -2px 3px #480508;
    border-bottom: 1px solid #fffffb;
    display: block;
    width:100%; 
    text-align: center;        
    padding-top: 1rem;
    padding-bottom: 2.8rem; 
}

@media (max-width: 640px) {
#header {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
}

#header p{
font-size: 2.5rem;
padding-top: 2rem;
}

@media (max-width: 1160px) {
#header p {
    font-size: 2.2rem;
    padding-top: 2.8rem;
}
}

@media (max-width: 1000px) {
#header p {
    padding-top: 3.2rem;
}
}

@media (max-width: 640px) {
#header p {
    font-size: 2rem;
}
}

#heading{	
text-shadow: 3px 3px 3px #2c0306;
text-transform: capitalize;
font-size: 3.5rem;
font-weight: 400;
color: #FFF;
position: relative;
text-align: center;
}

@media (max-width: 1160px) {
#heading {
    font-size: 3rem;
}
}

@media (max-width: 1000px) {
#heading {
    font-size: 2.5rem;
}
}

@media (max-width: 640px) {
#heading {
    font-size: 2rem;
}
}

#subheading2 {
color:red;
font-weight:bold;
font-size:2rem;
}

@media (max-width: 1160px) {
#subheading2 {
    font-size: 2rem;
}
}

@media (max-width: 710px) {
#subheading2 {
    font-size: 1.8rem;
}
}
/*Heading End*/

#rightbar {
    width:75%;
    height: auto;
}

@media (max-width: 900px) {
    #rightbar {
        width: 100%;
    }
}

#topbar {
	width: 100%;
	text-align: center;
	background: #2B2B2B;
	border-radius: 5px;
	padding: 2rem 0;
	font-size: 2rem;
}

#pagetitle {
	text-shadow: 3px 3px 3px #2c0306;
	text-transform: capitalize;
	font-size: 4rem;
	font-weight: 400;
	color: #FFF;
	text-align: center;
}

#rightcontent {
	width: 100%;
	text-align: left;
	border-radius: 5px;
}

#insurance {
	background: #2B2B2B;
	padding-top:1rem;
	margin-top: 0.5rem;
	width: 100%;
}

#insurance h2 {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
}

#insuranceInfo {
	font-size: 2rem;
	padding-top: 5rem;
	padding-left: 35%;;
}

@media (max-width: 1200px) {
	#insuranceInfo {
		padding-left: 30%;
	}
}

@media (max-width: 640px) {
	#insuranceInfo {
		padding-left: 20%;
	}
}

@media (max-width: 500px) {
	#insuranceInfo {
		padding-left: 5%;
	}
}

#forms {
	background: #2B2B2B;
	padding-top: 1rem;
	margin-top: 0.5rem;
	width: 100%;

}

#forms h2 {
	width: 100%;
	padding-top: 1rem;
	text-align: center;
	font-size: 3rem;
}

#formsDirections {
	text-align: center;
	font-size: 1.6rem;
}

#formsLinks {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 30%;
	font-size: 2rem;
}

@media (max-width: 1200px) {
	#formsLinks {
		padding-left: 20%;
	}
}

@media (max-width: 1100px) {
	#formsLinks {
		padding-left: 15%;
	}
}

@media (max-width: 640px) {
	#formsLinks {
		padding-left: 5%;
	}
}
/*Right Side End */

/*Bottom Section Start*/
#bottomContainer {
    display: flex;
    margin: 5rem 0rem;
    padding-bottom: 5rem;
    box-shadow: inset 0 -2px 3px #480508;
	border-bottom: 1px solid #fffffb;
}

#siteLockCont {
    width: 20%;
}

#bottomSection {
    display: flex;
    width: 80%;
    justify-content: space-around;
    font-size: 2rem;
}

@media (max-width: 640px) {
    #bottomContainer {
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }

    #bottomSection {
        flex-direction: column;
        width: 90%;
        font-size: 2.5rem;
        padding-left: 10%;
    }

    #links {
        padding-bottom: 5rem;
        font-size: 2rem;
    }

    #Connect {
        padding-bottom: 5rem;
        font-size: 2rem;
    }

    #sitelock {
        padding-left: 50%;
    }
}

.fa-facebook {
    color: white;
    background-color: royalblue;
    padding: 1rem 1.4rem;
    margin: 1rem;
    margin-left: 0rem;
    border-radius: 0.5rem;
}

.fa-yelp {
    color: white;
    background-color: orangered;
    padding: 1rem 1.2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

#bottomFooter {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#footerButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}

@media (max-width: 640px) {
    #bottomFooter {
        margin-top: 0;
    }

    #footerButtons {
        font-size: 2rem;  
    }

    #footerButtons a {
        line-height: 4rem;
        flex-basis: 280px;
    }
}
/*Bottom Section End*/
/*Body End*/