@charset "UTF-8";

:root {
    font-family: 'Montserrat', sans-serif;
    --Main-BG-Color: #494949;
    --Div-BG-Color: #2B2B2B;
    --Btn-Color: #4479BA;
    --Btn-Color-Hover: #4f1d1e;
    --Btn-Color-Active: black;
    --Shadow-Color: #480508;
}

html,
body {
    color: #FFF;
    font-size: 62.5%;
}

body {
    background-color: var(--Main-BG-Color);
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;    
    background: #2B2B2B;
}

body,
div,
h1,
h2,
h3,
p,
img,
header,
section,
aside,
footer,
button {
    border: 0;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E1DF54;
}

a:hover {
    color: #6f92a7;
}

h1,
h2,
h3 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-weight: 400;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.container {
    display: flex;
    align-items: flex-start;
    min-width: 100%;
    padding-bottom: 10px;
    box-shadow: inset 0 -2px 3px var(--Shadow-Color);
    border-bottom: 1px solid #fffffb;
    margin-top: 5px;
}

.container section {
    border-radius: 5px;
    height: auto;
}

/*-------------------------------------------Left Bar/Navigation----------------------------------------------*/

#leftbar {
    width: 25%;
    height: 100%;
    position: sticky;
    top: 0;
}

#leftcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--Div-BG-Color);
    border-radius: 5px;
}

#leftcontainer a img {
    width: 90%;
    height: auto;
    border: 5px solid var(--Div-BG-Color);
    border-bottom: 8px solid var(--Div-BG-Color);
    margin: 2% 0 15px 2%;
}

/*--In memory of Indigo. You will never be forgotten--AW*/

nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 2%;
    margin-right: 2%;
    font: 200 2.5rem/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 0 solid #ccc;
    font-weight: 700;
    padding-bottom: 13px;  
}

nav a {
    color: #000;
    min-width: 95%;
    margin-bottom: 15px;
    text-align: center;
    background: var(--Btn-Color);
    border-radius: 4px;
    border: solid 1px #20538D;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: font-size .3s ease, background-color .3s ease;
    padding: 25px 0;
}

nav .active {
    background-color: var(--Btn-Color-Active);
    color: var(--Btn-Color);
    border: solid 1px #203E5F;
}

nav a:hover {
    font-size: 1.6rem;
    background: var(--Btn-Color-Hover);
    color: #f6f6ee;
}

/*-------------------------------------------Right Side/Main Content----------------------------------------------*/

#rightbar {
    width: 75%;
    height: auto;
}

/*------------------------------------------------Header----------------------------------------------*/

header {
    background: var(--Div-BG-Color);
    box-shadow: inset 0 -2px 3px #480508;
    border-bottom: 1px solid #fffffb;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 28px;
}

.title1, .title2 {
    text-shadow: 3px 3px 3px var(--Shadow-Color);
    text-transform: capitalize;
    font-weight: 400;
    color: #FFF;
    position: relative;
    text-align: center;
}

.title1 {    
    font-size: 5rem;
}

.title2 {
    font-size: 3rem;
}

.hours {
    font-size: 1.5rem;
    color: #FFF;
    position: relative;
    text-align: center;
    padding-top: 10px;
}

.closed {
    width:70%;
    margin:auto;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:2px;
    box-shadow: 2px #2B2B2B;
    color: #000;
    background-color: #2196F3;
}

/*------------------------------------------------Home Page----------------------------------------------*/

.rightcontent {
    width: 100%;
    text-align: left;
}

.rightcontent img {
    height: auto;
    width: 100%;
}

.rightcontent h1 {
    font-size: 4rem;
    padding-top: 100px;
    background: var(--Div-BG-Color);
    text-align: center;
}

.rightcontent h5 {
    font-size: 2.5rem;
    padding-top: 40px;
    padding-bottom: 25px;
    background: var(--Div-BG-Color);
    text-align: center;
    margin: 0;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.boxLeft {
    width: 35%;
}

.boxLeft p {
    text-align: center;
    font-size: 2rem;
}

.boxRight {
    width: 60%;
    font-size: 2.5rem;
    padding: 1rem 5% 2rem;
}

/*----------------------------------------------Staff----------------------------------------------*/

.pagetitle {
    text-shadow: 3px 3px 3px var(--Shadow-Color);
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 400;
    color: #FFF;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.pagetitle span,.pagetitle a{
    text-shadow: none;
    text-transform: Sentence;
    font-size: 1.5rem;
    font-weight: normal;
    color: #FFF;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.pagetitle a:hover{
    color: #E1DF54;
}

.Profile-Container {
    display: flex;
    align-items: flex-start;
    align-content: space-evenly;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: .5em;
    max-height: 400px;
    margin-left: 2em;
    margin-bottom: 2em;
}

.Doc-Profile {
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin-bottom: 1em;
}

.Profile-Caption {
    position: absolute;
    bottom: 0;
    left: 0rem;
    text-align: left;
    font-size:3.5em;
    color: #FFF;
    width: 100%;
    background-color: var(--Btn-Color);
}

.Profile-Caption h4{
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0 1rem;
}

.Profile-Caption p{
    font-size: 1.2rem;
    padding-bottom: .8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Doc-Profile img {
    width: 300px;
    max-height: 330px;
}

.Profile-Card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:.5rem;
}

.Doc-Profile:hover .Profile-Card {
    transform: rotateY(180deg);
    box-shadow: 0 1px 2px 2px #bbb ;
}

.Profile-Card-Front,
.Profile-Card-Back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.Profile-Card-Front {
    background-color: var(--Main-BG-Color,transparent);
    color: black;
}

.Profile-Card-Back {
    background-color: var(--Btn-Color);
    color: white;
    transform: rotateY(180deg);
}

.Profile-Card-Back h1{
    position: absolute;
    width: 100%;
    padding-top: 0;
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--Div-BG-Color);
    font-size: 2.5rem;  
}

.Profile-Card-Back p{
    position: absolute;
    width: 97%;
    top: 2.5em;
    left: .5rem;
    margin-right: 1.7rem;
    text-align: left;
    color: #000;
    font-size: 1.3rem;
}

/*--------------------------------------Resources----------------------------------*/

.content ol{
    list-style-type: decimal;
    
}

.insurance h2,
.forms h2 {
    padding-left: 1%;
    font-size: 2rem;
    font-weight: 700;
}

.insurance,
.forms{
    padding-bottom: 2em;
}

.forms ol,.forms p{    
    padding-left: 5%;
    font-size: 1.5rem;
}


.insurance section.insuranceInfo{
    padding-left: 5%;
    font-size: 1.5rem;
}


/*---------------------------Common-Conditions-lightbox---------------------------*/

.litebox {
    clear: none;
    padding-bottom: .5rem;
}

.litebox a {
    display: block;
    text-decoration: none;
}

.litebox a:hover {
    position: relative;
}

.litebox span img {
    margin-bottom: 1px;
    height: auto;
    width: 80rem;
    background-color: #E1DF54;
    border: 3px solid #E1DF54;
}

.litebox a span {
    position: absolute;
    display: none;
    padding: .5px;
}

.litebox img {
    height: auto;
    width: 100%;
    border: 0 Transparent Red;
    border-width: 2px;
}

.litebox a:hover span {
    display: block;
    top: 1px;
    right: 150px;
    left: 100px;
    z-index: 100;
}

.nolitebox img {
    -webkit-filter: grayscale(110%);
    -moz-filter: grayscale(110%);
    -o-filter: grayscale(110%);
    -ms-filter: grayscale(110%);
    filter: grayscale(110%);
}

#listtitle1 {
    font-size: 2.5rem;
    padding-top: 20px;
    padding-bottom: 10px;
}

#listtitle2 {
    font-size: 2.5rem;
    padding-left: 30%;
    padding-right: 10px;
}

/*---------------------------Directions-&-Parking---------------------------*/
#gmaps {
    width: 100%;
    height: 60vh;
}
iframe {
    border: 0;
}

.parkingheaders{font-size: 1.75rem; }

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem);
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.parkinglot{
    margin-left:2rem;
    color: #FFF;
    font-size: 1.25rem;
}

.parkinglot b {
    font-weight: 700;
    line-height: 1.5;
}



/*---------------------------------------Footer-&-Social-Btns---------------------------------------*/
.extLinkContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: var(--Div-BG-Color);
    justify-content: space-around;
}

.extLink {
    width: 40%;
    padding-bottom: 50px;
}

.extLink a img {
    height: auto;
    width: 100%;
    background-color: #FFF;
}

.extLink p {
    font-size: 2.5rem;
    background: var(--Div-BG-Color);
    text-align: center;
    padding: 0;
}

#googleBox {
    width: 300px;
    height: 30px;
    font-size: 2.5rem;
}

#googleButton {
    width: 150px;
    height: 30px;
    font-size: 2rem;
}

.fa-facebook {
    color: #FFF;
    background-color: #4169E1;
    border-radius: .5rem;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem 1.4rem;
}

.fa-yelp {
    color: #FFF;
    background-color: #FF4500;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem 1.2rem;
}

#bottomContainer {
    display: flex;
    flex-direction: column-reverse;
    box-shadow: inset 0 -2px 3px var(--Shadow-Color);
    border-bottom: 1px solid #fffffb;
    margin: 50px 0;
    margin-bottom: 1rem;
}

#bottomSection {
    display: flex;
    align-items: flex-start;
    align-content: space-evenly;
    justify-content: space-around;
    width: 80%;
    margin:auto;
    font-size: 2.5rem;
}

#siteLockCont{padding:5rem;}

#links,#siteLockCont,
#Connect {
    top:0;
    padding-bottom: 5rem;
    font-size: 1.5rem;
    margin:15px;
}

footer {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#footerButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    margin:auto;
    padding: 0;
}

#footerButtons a {
    width: 20%;
    margin:auto;
    text-align: center;
    line-height: 4rem;
    flex-basis: 20%;
}



/*----------------------------------------------Media-Queries----------------------------------------------*/

@media (max-width: 640px) {    
    #leftcontainer a {
        width: 0;
        margin: 0;
    }

    #leftcontainer a img {
        display: none;
    }

    nav {
        flex-direction: column;
        min-width: 100%;
        font-size: 2.2rem;
    }

    nav a {
        width: 100%;
    }

    header {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .insuranceInfo {
        padding-left: 20%;
        font-size: 2rem;
    }

    .extLinkContainer {
        flex-direction: column;
        align-items: center;
    }

    .extLink {
        width: 80%;
    }

    #transitOptions {
        flex-direction: column;
        width: 90%;
        text-align: center;
        padding-left: 2%;
    }

    #listtitle2 {
        font-size: 2rem;
        padding-left: 10px;
    }

    .box {
        flex-direction: column;
    }

    .boxLeft {
        padding-top: 20px;
        width: 90%;
    }

    .boxRight {
        padding-top: 20px;
        width: 90%;
        font-size: 2rem;
    }

    .boxLeft p {
        font-size: 1.8rem;
    }

    .insurance h2,
    .forms h2 {
        font-size: 1.5rem;
    }

    #parkingTitle {
        font-size: 2rem;
    }

    #publicTransit,
    #listtitle1 {
        font-size: 3rem;
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    #leftbar {
        position: relative;
        width: 100%;
    }

    #leftcontainer {
        height: 100%;
        flex-direction: row;
    }

    #leftcontainer a {
        width: 11%;
        margin-left: 0;
    }

    #leftcontainer a img {
        margin: 0;
        padding: 0;
    }

    nav {
        flex-direction: row;
        width: 87%;
        margin: 0;
        padding: 0 10px;
        justify-content: flex-end;
    }

    nav a {
        flex-basis: 23%;
        margin: 0;
        padding: 0;
    }

    #rightbar {
        width: 100%;
    }
   
    #footerButtons {
        justify-content: flex-start;
        padding-left: 10%;
        width: 90%;
    }

    #footerButtons a {
        flex-basis: 350px;
        padding-bottom: 20px;
    }
}