@charset "UTF-8";

:root {
    font-family: 'Montserrat', sans-serif;
    --Def-Font-Color:#FFF;
    --Main-BG-Color: #494949;
    --Div-BG-Color: #2B2B2B;
    --Btn-Color: #4479BA;
    --Btn-Color-Hover: #4f1d1e;
    --Btn-Color-Active: black;
    --Box-Shadow-Color: #480508;
    --Text-Shadow-Color: #480508;
    --Link-Color:#E1DF54;
    --Link-Color-Hover:#557ab5;
    --Link-Shadow-Color: #FFF;
    --Border-Bottom: 1px solid #fffffb;
}

html,
body {
    color: var(--Def-Font-Color);
    font-size: 62.5%;
}

body {
    background-color: var(--Main-BG-Color);
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;    
    background: var(--Div-BG-Color);
}

body,
div,
h1,
h2,
h3,
p,
img,
header,
section,
aside,
footer,
button {
    border: 0;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Link-Color);
}

a:hover {
    color: var(--Link-Color-Hover);
}

h1,
h2,
h3 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-weight: 400;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.container {
    display: flex;
    align-items: flex-start;
    min-width: 100%;
    padding-bottom: 10px;
    box-shadow: inset 0 -2px 3px var(--Box-Shadow-Color);
    border-bottom: var(--Border-Bottom);
    margin-top: 5px;
}

.container section {
    border-radius: 5px;
    height: auto;
}

/*-------------------------------------------Left Bar/Navigation----------------------------------------------*/

#leftbar {
    width: 25%;
    height: 100%;
    position: sticky;
    top: 0;
}

#leftcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--Div-BG-Color);
    border-radius: 5px;
}

#logo {
    width: 90%;
    height: auto;
    border: 5px solid var(--Div-BG-Color);
    border-bottom: 8px solid var(--Div-BG-Color);
    margin: 2% 0 0 2%;
}

#menu, #menuItems {
    display: none;
}

/*--In memory of Indigo. You will never be forgotten--AW*/

#navFullScreen {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 2%;
    margin-right: 2%;
    font: 200 2.5rem/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 0 solid #ccc;
    font-weight: 700;
    padding-bottom: 13px;  
}

#navFullScreen a {
    color: #000;
    min-width: 95%;
    text-align: center;
    background: var(--Btn-Color);
    border-radius: 4px;
    border: solid 1px #20538D;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: font-size .3s ease, background-color .3s ease;
    padding: 10px 0;
}

#navFullScreen .active {
    background-color: var(--Btn-Color-Active);
    color: var(--Btn-Color);
    border: solid 1px #203E5F;
}

nav a:hover {
    background: var(--Btn-Color-Hover);
    color: var(--Def-Font-Color);
}

/*----------------------------------------Right Side/Main Content--------------------------------------*/

#rightbar {
    width: 75%;
    height: auto;
}

/*------------------------------------------------Header----------------------------------------------*/

header {
    background: var(--Div-BG-Color);
    box-shadow: inset 0 -2px 3px var(--Box-Shadow-Color);
    border-bottom: var(--Border-Bottom);
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 28px;
}

.title1, .title2 {
    text-shadow: 3px 3px 3px var(--Text-Shadow-Color);
    text-transform: capitalize;
    font-weight: 400;
    color: var(--Def-Font-Color);
    position: relative;
    text-align: center;
}

.title1 {    
    font-size: 5rem;
}

.title2 {
    font-size: 3rem;
}

.hours {
    font-size: 1.5rem;
    color: var(--Def-Font-Color);
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.closed {
    width:70%;
    margin:auto;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:2px;
    box-shadow: 2px #2B2B2B;
    color: #000;
    background-color: #2196F3;
}

/*------------------------------------------------Home Page--------------------------------------------*/

.rightcontent {
    width: 100%;
    text-align: left;
}

.homeImg  {
    height: auto;
    width: 100%;
}

.rightcontent h1 {
    font-size: 4rem;
    padding-top: 100px;
    background: var(--Div-BG-Color);
    text-align: center;
}

.rightcontent h5 {
    font-size: 2.5rem;
    padding-top: 40px;
    padding-bottom: 25px;
    background: var(--Div-BG-Color);
    text-align: center;
    margin: 0;
}

.carouselImg {
    display: block;
    width: 50%;
    margin: 20px auto 20px auto;
}

.extLinkContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: var(--Div-BG-Color);
    justify-content: space-around;
}

.extLink {
    width: 40%;
    padding-bottom: 30px;
    position: relative;
}

.extLink a img {
    min-height:86px;
    height: auto;
    width: 100%;
    background-color: #FFF;
    border-radius: 12px;
    padding:15px;
}

.extLink .bottom-left {
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: black;
    color: white;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
  }

.extLink .bottom-right {
    position: absolute;
    bottom: 40px;
    right: 0;
    background-color: black;
    color: white;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
  }

/*----------------------------------------------Staff----------------------------------------------*/

.pagetitle {
    text-shadow: 3px 3px 3px var(--Text-Shadow-Color);
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 400;
    color: var(--Def-Font-Color);
    text-align: center;
    padding: 50px 0;
}

.Profile-Container {
    display: flex;
    flex-wrap: wrap;
    font-size: .5rem;
    margin-bottom: 20px;
    margin-right: 5px;
}

.Doc-Profile {
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin-bottom: 10px;
}

.Doc-Profile:hover .Profile-Card {
    transform: rotateY(180deg);
    box-shadow: 0 1px 2px 2px #bbb ;
}

.Doc-Profile img {
    width: 300px;
    max-height: 330px;
}

.Profile-Card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:.5rem;
}

.Profile-Card-Front,
.Profile-Card-Back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.Profile-Card-Front {
    background-color: var(--Main-BG-Color,transparent);
    color: black;
}

.Profile-Caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    font-size:3.5em;
    color: var(--Def-Font-Color);
    width: 100%;
    background-color: var(--Btn-Color);
}

.Profile-Caption h4{
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0 10px;
}

.Profile-Caption p{
    font-size: 1.2rem;
    padding-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.Profile-Card-Back {
    background-color: var(--Btn-Color);
    color: white;
    transform: rotateY(180deg);
}

.Profile-Card-Back h1{
    position: absolute;
    width: 100%;
    padding-top: 0;
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--Div-BG-Color);
    font-size: 2.5rem;  
}

.Profile-Card-Back p{
    position: absolute;
    width: 97%;
    top: 2.5em;
    left: .5rem;
    margin-right: 1.7rem;
    text-align: left;
    color: #000;
    font-size: 1.3rem;
}

/*--------------------------------------Resources----------------------------------*/

.pagetitle span,.pagetitle a{
    text-shadow: none;
    text-transform: Sentence;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--Def-Font-Color);
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.pagetitle a:hover{
    color: #E1DF54;
}

.content ol {
    margin-left: 50px;
}

.content ol li{
    list-style-type: decimal; 
}

.insurance h2,
.forms h2 {
    padding-left: 1%;
    font-size: 2rem;
    font-weight: 700;
}

.insurance,
.forms{
    padding-bottom: 20px;
}

.forms ol,.forms p{    
    padding-left: 5%;
    font-size: 1.5rem;
}

.insurance section.insuranceInfo{
    padding-left: 5%;
    font-size: 1.5rem;
}

/*---------------------------Common-Conditions-lightbox---------------------------*/
.condCont {
    border: 5px solid var(--Shadow-Color);
    margin: 50px 20px;
 }

.condLinkCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
}
 
.condLink {
    font-size: 2rem;
    width: 300px;
    margin-bottom: 20px;;
}

.title {
    font-size: 3.5rem;
    text-align: center;
    padding: 50px 0;
}

.condImg {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#FF img {
    width: 80%;
}

#Cataract img, #LVS img {
    width: 70%;
}

#DRD img, #Glaucoma img, #MD img {
    width: 60%;
}

.description {
    display: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    font-size: 2rem;
}

.condButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px black solid;
}

.condButton:hover {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*---------------------------Directions-&-Parking---------------------------*/

.parkinglot{
    margin-left:20px;
    color: var(--Def-Font-Color);
    font-size: 1.25rem;
}

.parkinglot b {
    font-weight: 700;
    line-height: 1.5;
}

.parkingheaders{font-size: 1.75rem; }

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem);
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

#gmaps {
    width: 100%;
    height: 60vh;
}
iframe {
    border: 0;
}

/*---------------------------------------Footer-&-Social-Btns---------------------------------------*/

#bottomContainer {
    box-shadow: inset 0 -2px 3px var(--Shadow-Color);
    border-bottom: var(--Border-Bottom);
    margin: 50px 0;
    padding-bottom: 50px;
}

#bottomSection {
    display: flex;
    justify-content: space-around;
    margin:auto;
    font-size: 2.5rem;
}

#siteLockCont {
    width: 20%;
}

.fa-facebook {
    color: #FFF;
    background-color: #4169E1;
    border-radius: .5rem;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem 1.5rem;
    border:0.1px solid transparent;
}

.fa-yelp {
    color: #FFF;
    background-color: #FF4500;
    border-radius: .5rem;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem 1.2rem;
    border:0.1px solid transparent;
}

.fa-facebook:hover,
.fa-yelp:hover{
    color: #FFF;
    text-shadow: 1px 1px 1px black;
    border:0.1px solid black;
}

footer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

#footerButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

/*----------------------------------------------Media-Queries----------------------------------------------*/

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    #leftbar {
        position: relative;
        width: 100%;
    }

    #leftcontainer {
        height: 100%;
        flex-direction: row;
    }

    #navFullScreen {
        width: 20%;
    }

    #logo {
        display: none;
    }

    #navFullScreen {
        flex-direction: row;
    }

    header {
        padding-top: 10px;
    }

    #rightbar {
        width: 100%;
    }

    .title1 {
        font-size: 4rem;
    }

    #links, #Connect, #footerButtons{
        font-size: 1.6rem;
    }
   
    #footerButtons {        
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-width: 640px) {    
    /*#leftcontainer a {
        width: 0;
        margin: 0;
    }*/
    
    #menu {
        display: block;
    }

    #menuCont {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        z-index: 2;
        background: var(--Div-BG-Color);        
    }

    #menuItems {
        display: flex;
    }

    #menuItems a:hover {
        background-color: var(--Main-BG-Color);
        color: var(--Link-Color);
    }

    #menuItems .active {
        text-decoration-line: underline;
    }

    .showMenuItems {
        flex-direction: column;
        min-width: 100%;
        height: 150px;
        background-color: var(--Div-BG-Color);
        font-size: 2.2rem;
        padding: 50px 0 0 5px;
        position: fixed;
        top: 0;
        z-index: 1; 
    }

    #menu:hover {
        filter: brightness(75%)
    }
    
    #navFullScreen {
        display: none;
    }

    header {
        padding-top: 50px;
        padding-bottom: 5px;
    }

    .title1 {    
        font-size: 3.5rem;
    }
    
    .title2 {
        font-size: 2.5rem;
    }

    .insuranceInfo {
        padding-left: 20%;
        font-size: 2rem;
    }

    .extLinkContainer {
        flex-direction: column;
        align-items: center;
    }

    .extLink {
        width: 80%;
    }

    #transitOptions {
        flex-direction: column;
        width: 90%;
        text-align: center;
        padding-left: 2%;
    }

    #listtitle2 {
        font-size: 2rem;
        padding-left: 10px;
    }

    .insurance h2,
    .forms h2 {
        font-size: 1.5rem;
    }

    #parkingTitle {
        font-size: 2rem;
    }

    #publicTransit,
    #listtitle1 {
        font-size: 3rem;
    }

    .box {
        flex-direction: column;
    }

    .boxLeft {
        padding-top: 20px;
        width: 90%;
    }

    .boxLeft p {
        font-size: 1.8rem;
    }

    .boxRight{
        padding-top: 20px;
        width: 90%;
        font-size: 2rem;
    }
    
    #bottomContainer {
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }

    #bottomSection {
        flex-direction: column;
        width: 90%;
        font-size: 2.5rem;
        padding-left: 10%;
    }

    #links, #Connect {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 2rem;
    }

    footer {
        margin-top: 0;
    }

    #footerButtons {
        font-size: 2rem;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    #footerButtons a {
        line-height: 4rem;
        flex-basis: 280px;
    }
}
